/* ------------- HERO SECTION -------------- */

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero-large {
    height: 100svh;
}

.hero-small {
    height: 50svh;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
    color: white;
    gap: 2rem;
    max-width: 40rem;
    padding: 1em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* ------------- MEDIA QUERIES ----------------- */

@media (min-width: 640px){

}

@media (min-width: 1024px) {

    .hero-content {
        max-width: 60rem;
    }

}

@media (min-width: 1440px) {

    .hero-content {
        max-width: 70rem;
    }

}