.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.container-wide {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.section {
    padding-block: 4rem;
}

/* ------------- MEDIA QUERIES ----------------- */

@media (min-width: 640px){

}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {
    
}
